
<div class= "container-truck">
  <div class= "form-truck-div">
    <%= image_tag "garbage-truck.png", size: "70" %>
    <%= simple_form_for(@truck) do |f| %>
      <%= f.input :plate_number, label: "Plaque D'imatriculation", placeholder: "ex :AB567SK", class:"new-truck-input" %>
      <%= f.input :kilometers, label: "Kilomètres", placeholder: "ex : 250988", class:"new-truck-input"%>
      <%#= f.input :city_hall, label: "Mairie Correspondante", placeholder: "..." %>
      <%= f.button :submit, label: "Creer mon camion", class:"form-btn-new-truck" %>
    <% end %>
  </div>
</div>
