<div class="d-flex flex-column flex-shrink-0 p-3 text-white sidetracks" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
	<%# <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> %>
	<% if @city_hall %>
		<span class="fs-4">Mairie de <%= @city_hall.name %></span>
	<% else %>
	<%# A CHANGER AVEC UN @city_hall SUR TOUTE LES PAGES %>
      <span class="fs-4">Mairie de Megève</span>
	<% end %>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
		<%= link_to root_path, class:"nav-link #{ 'active' if url_for == root_path}" do %>
		  <i class="fa-solid fa-house"></i>
          Accueil
        <% end %>
      </li>
      <li>
		<%= link_to dashboard_path, class:"nav-link #{ 'active' if url_for == dashboard_path}" do %>
		  <i class="fa-solid fa-gauge-high"></i>
          Tableau de bord
        <% end %>
      </li>
      <li>
		<%= link_to roads_path, class:"nav-link #{ 'active' if url_for == roads_path}" do %>
		  <i class="fa-solid fa-road"></i>
          Itinéraires
        <% end %>
      </li>
      <li>
		<%= link_to trucks_path, class:"nav-link #{ 'active' if url_for == trucks_path}" do %>
		  <i class="fa-solid fa-truck"></i>
          Flotte
        <% end %>
      </li>
      <li>
		<%= link_to economies_path, class:"nav-link #{ 'active' if url_for == economies_path}" do %>
		  <i class="fa-solid fa-euro-sign"></i>
          Economies
        <% end %>
      </li>
    </ul>
    <hr>
    <%# <div class="dropdown"> %>
    <%= link_to dashboard_path, class:"d-flex align-items-center text-white text-decoration-none #{ 'active' if url_for == chatroom_path(1)}" do %>
        <%# <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> %>
       <i class="fa-solid fa-circle-question ms-1" ></i>
      <strong style="margin-left: 10px;"> Chatroom </strong>
      <% end %>
      <%# <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul> %>
    <%# </div> %>
  </div>
