<div class="container-dashboard">
    <div class="welcome-message">
      <h1>Bonjour <%=current_user.first_name%>,</h1>
    </div>
	<div class="cards">

    <div id="mapdiv">
      <div class="card-category p-3" style="width: 100%; height: 100%;">
      	<div class="statistics-menu">
          <div class= "d-flex" id="rec-effect">
            <h5>Carte</h5>
          </div>
          <div>
            <button type="button" class="btn btn-warning"><%= l( Date.today, format: '%d %B') %></button>
          </div>
		    </div>
        <div style="width: 100%; height: 80%;"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

	<div id="infodiv" class="card-category d-flex align-content-center", style="padding: 0px">
			<div class="info-content">
				<section class="statis text-center">
					<div class="info-top-d-flex">
						<div class="info-comp">
							<% if @containers_red_count < 2 %>
								<div class="box bg-success p-3">
							<% elsif @containers_red_count < 4 %>
								<div class="box bg-warning p-3">
							<% else %>
								<div class="box bg-danger p-3">
							<% end %>
								<i class="fa-solid fa-trash"></i>
								<h3><%= @containers_red_count %></h3>
								<p class="lead">Containers pleins depuis 2j+</p>
							</div>
						</div>
						<div class="info-comp">
							<% if @average_fill > 6 %>
								<div class="box bg-success p-3">
							<% elsif @average_fill > 4 %>
								<div class="box bg-warning p-3">
							<% else %>
								<div class="box bg-danger p-3">
							<% end %>
								<i class="fa-solid fa-clock"></i>
									<h3> <%= @average_fill %> j</h3>
								<p class="lead">Temps de remplissage</p>
							</div>
						</div>
					</div>
					<div class="info-bot-d-flex">
						<div class="info-comp">
						<% if @dist_moyenne < 30 %>
							<div class="box bg-success p-3">
						<% elsif @dist_moyenne < 60 %>
							<div class="box bg-warning p-3">
						<% else %>
							<div class="box bg-danger p-3">
						<% end %>
								<i class="fa-solid fa-bus"></i>
								<h3> <%= @dist_moyenne %> km</h3>
								<p class="lead">Distance moyenne par jour</p>
							</div>
						</div>
						<div class="info-comp">
						<%count = 0 %>
						<%@containers.each do |container|%>
						  <%count += 1 if container.temperature > 50%>
						<%end%>
						<%# en dur pour l'instant: %>
							<div class="box bg-danger p-3">
								<i class="fa-solid fa-comment-medical"></i>
								<h3><%=count %></h3>
								<p class="lead">Problèmes en attentes</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
    <div id="container-savings">
      <div class="card-category" id= "statistics-card">
        <div class="statistics-menu">
          <div>
            <h5>Type de déchets</h5>
          </div>
          <div>
            <%= link_to economies_path do %>
              <%# <button type="button" class="btn btn-warning">Voir plus</button> %>
            <% end %>
          </div>
        </div>
        <div><%= pie_chart Container.group(:waste_type).count,colors: ["#6e92d4","#ffb1b1","#FFEDB7","#BEDEBC"], height: "400px", donut: true%></div>
      </div>
    </div>

    <div id="container-savings">
      <div class="card-category" id= "statistics-card">
        <div class="statistics-menu">
          <div>
            <h5>Economies</h5>
          </div>
          <div>
            <%= link_to economies_path do %>
              <button type="button" class="btn btn-warning">Voir plus</button>
            <% end %>
          </div>
        </div>
        <div><%= area_chart Road.group_by_year(:date).average(:kilometers), defer: true, height: "400px", colors: ["#85C883"], ytitle: "km par an"%></div>
      </div>
    </div>
  </div>
</div>


<script>
	const ft = () => {

		const markers = document.querySelectorAll(".marker");
		markers.forEach ( mark => {
			if (mark.style['backgroundImage'] === ('url("http://localhost:3000/assets/garbage-fire-2-77f3cfcf1f8d50ffc6b7cb75918ee0d00b2a9ea52d8026d600fd84d71f7fe967.png")' || 'url("http://www.wastrack.fr/assets/garbage-fire-2-77f3cfcf1f8d50ffc6b7cb75918ee0d00b2a9ea52d8026d600fd84d71f7fe967.png")')) {
				console.log(mark);
				mark.classList.add("fire");
			}
			// console.log(mark.style['backgroundImage']);
		});
	}
	document.addEventListener("turbolinks:load", () => {
		setTimeout(ft, 1000);
	})

</script>