

 <canvas style="width:100%;max-width:700px"
  data-controller="chart"
  data-chart-type-value="bar"
  data-chart-data-value='{
    "labels":
    ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
    "datasets":
      [{ "label": "Filling Level of Containers",
      "borderColor": "#74C69D",
      "backgroundColor": "#74C69D",
      "hoverBorderWidth": "4",
      "data": [80, 90, 70, 40, 40, 50, 60, 70, 40, 30, 40, 80] }] }'>
</canvas>






<div>
  <ul>
    <% @containers.each do |container| %>
      <li><%= container.temperature %></li>
      <li><%= container.filling_level %></li>
      <li><%= container.location %></li>
      <li><%= container.broken %></li>
      <li><%= container.city_hall %></li>
    <% end %>
  </ul>
</div>

<div>
  <ul>
    <% @roads.each do |road| %>
      <li><%= road.date %></li>
      <li><%= road.kilometers %></li>
      <li><%= road.truck %></li>
    <% end %>
  </ul>
</div>

<div>
  <ul>
    <% @road_containers.each do |road_container| %>
      <li><%= road_container.container %></li>
      <li><%= road_container.road %></li>
    <% end %>
  </ul>
</div>

<div>
  <ul>
    <% @trucks.each do |truck| %>
      <li><%= truck.kilometers %></li>
      <li><%= truck.consumption %></li>
      <li><%= truck.plate_number %></li>
     <li><%= truck.city_hall %></li>
    <% end %>
  </ul>
</div>
