<div class="landingpage">

  <div class="first-part-text-landing">
    <h1 class="first-part-title-landing" id="opti">Optimisez votre</h1>
    <h1 class="second-part-title-landing">waste management</h1>
    <p>Un itinéraire de collecte optimisé en fonction du taux de <br>remplissage des conteneurs de la ville.</p>
    <%= link_to "Je demande une démo →", "#", class: "btn btn-success btn-landingpage" %>
  </div>
      <%= image_tag('big-rond.png', class: "big-rond-landingpage") %>
      <%= image_tag('iPhone 13 Pro.png', class: "iphone-landingpage") %>
  <div class="second-part-text-landing">
    <div class="advantages-landing-page-title">
      <div>
        <h1 class="first-part-title-landing">Nos avantages</h1>
        <p class= "text-content" >Wastrack vous apporte des nombreux avantages en termes <br>d'organisations et de gain de temps qui passent par des fonctionnalités pensées pour vous.</p>
      </div>
      <div class="icons-landing-page">
        <div class="camembert-div-landing">
          <%= image_tag('camembert.png', class: "first-icon-landing all-icons-landng") %>
          <h5>Analysez les données <br>de votre secteur</h5>
          <p class="text-icons-landing">Des graphiques simples qui permettent une lecture facile.</p>
        </div>
        <div class="finger-div-landing">
          <%= image_tag('finger.png', class: "second-icon-landing all-icons-landng") %>
          <h5>Des outils pensés <br>pour tous</h5>
          <p class="text-icons-landing">À disposition une application pour les ramasseurs et un site pour les mairies</p>
        </div>
        <div class="protect-div-landing">
          <%= image_tag('protect.png', class: "third-icon-landing all-icons-landng") %>
          <h5>Vos données sont <br>protégées</h5>
          <p class="text-icons-landing">Grâce à notre politique vos données sont sécurisées.</p>
        </div>
        <div class="graph-div-landing">
          <%= image_tag('graph.png', class: "fourth-icon-landing all-icons-landng") %>
          <h5>Retrouvez tout d'un <br>simple coup d'oeil</h5>
          <p class="text-icons-landing">Grâce à un site organisé trouvez toutes les données simplement.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="third-part-text-landing">
    <div class= "third-part-flex">

      <ol class="gradient-list">
        <h1 class="third-part-title-landing">Une application <br>mobile pour les <br>collecteurs</h1>
       <li>
         <%#= image_tag('Line 1.png', class: "landing-line-1") %>
          Commencez votre journée facilement
       </li>
       <li>
         <%#= image_tag('Line 1.png', class: "landing-line-2 content-landing-third") %>
          la route optimisée par l’application
       </li>
       <li>
         <%#= image_tag('Line 1.png', class: "landing-line-3") %>
          Signalez tout problème
       </li>
    </ol>

    <%= image_tag('3-phone.png', class: "three-phone-landingpage") %>
  </div>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Conditions Générales  •  Confidentialité  •  Contact
    </div>
  </div>
</div>
