<div class="landingpage">

  <div class="first-part-text-landing">
    <h1 class="first-part-title-landing">Optimisez votre</h1>
    <h1 class="second-part-title-landing">waste management</h1>
    <p>Un itinéraire de collecte optimisé en fonction du taux de <br>remplissage des conteneurs de la ville.</p>
    <%= link_to "Je demande une démo →", "#", class: "btn btn-success btn-landingpage" %>
    <%= image_tag('Line.png', class: "line-landingpage") %>
    <%= image_tag('line-travers.png', class: "line-travers-landingpage") %>
    <%= image_tag('big-rond.png', class: "big-rond-landingpage") %>
    <%= image_tag('small-rond.png', class: "small-rond-landingpage") %>
    <%= image_tag('medium-rond.png', class: "medium-rond-landingpage") %>
    <%= image_tag('iPhone 13 Pro.png', class: "iphone-landingpage") %>
  </div>

  <div class="second-part-text-landing">
    <div class="advantages-landing-page-title">
      <h1 class="first-part-title-landing">Nos avantages</h1>
      <p>Wastrack vous apporte des nombreux avantages <br>ils passent par des fonctionnalités.</p>
      <div class="icons-landing-page">
        <div class="camembert-div-landing">
          <%= image_tag('camembert.png', class: "first-icon-landing all-icons-landng") %>
          <h5>Analisez les données <br>de votre secteur</h5>
          <p class="text-icons-landing">Des graphiques simples qui permmettent une lecture facile.</p>
        </div>
        <div class="finger-div-landing">
          <%= image_tag('finger.png', class: "second-icon-landing all-icons-landng") %>
          <h5>Des outils pensés <br>pour tous</h5>
          <p class="text-icons-landing">A disposition une application pour les ramasseur et un site pour les mairies</p>
        </div>
        <div class="protect-div-landing">
          <%= image_tag('protect.png', class: "third-icon-landing all-icons-landng") %>
          <h5>Vos données sont <br>protégées</h5>
          <p class="text-icons-landing">Grâce à notre politique vos données sont sécurisées.</p>
        </div>
        <div class="graph-div-landing">
          <%= image_tag('graph.png', class: "fourth-icon-landing all-icons-landng") %>
          <h5>Retrouvez tout d'un <br>simple coup d'oeil</h5>
          <p class="text-icons-landing">Grâce à un site organisé trouvez toutes les données simplement.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="third-part-text-landing">
    <h1 class="third-part-title-landing">Une application <br>mobile pour les <br>collecteurs</h1>
    <ul class="landing-content">
      <li>
      <%= image_tag('Line 1.png', class: "landing-line-1") %>
      <span class="landing-content-third-part"> Commencez votre journée facilement</span>
      </li>
      <li>
      <%= image_tag('Line 1.png', class: "landing-line-2 content-landing-third") %>
      <span class="landing-content-third-part"> Suivez la route optimisée par l’application</span>
      </li>
      <li>
      <%= image_tag('Line 1.png', class: "landing-line-3") %>
      <span class="landing-content-third-part content-landing-third"> Signalez tout problème</span>
      </li>
    </ul>

    <%= image_tag('3-phone.png', class: "three-phone-landingpage") %>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Conditions Générales  •  Confidentialité  •  Contact
    </div>
  </div>
</div>
