<!DOCTYPE html>
<html>
  <head>
    <title>Wastrack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', turbolinks: true, defer: true %>

  </head>

  <body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
	
	<%# "common-container" rajoute une margin left pour la sidebar (toute les pages sauf la home) %>
  <% no_sidebar = ["/users/sign_in", "/", "users/sign_up"] %>
	<%= render 'shared/sidebar-1' unless no_sidebar.include?(url_for) %>
	<% unless no_sidebar.include?(url_for) %>
		<div class="common-container">
      <% end %>
          <%= render 'shared/navbar' %>
          <%= render 'shared/flashes' %>
          <%= yield %>
      <% unless no_sidebar.include?(url_for) %>
		</div>
	<% end %>
  </body>
</html>
